body {
    color: #bbc3c8;
    background: #0b0b10;
    font-family: 'Verdana', sans-serif;
    line-height: 1.3em;
    font-size: 13pt;
    max-width: 42em;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-left: auto;
    margin-right: auto;
    max-width: 42em;
}

p {
    max-width: 42em;
    text-indent: 0;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

table {
    border: 1pt solid #bbc3c8;
    border-collapse: collapse;
    max-width: 30em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    line-height: 1.2em;
    text-align: center;
    padding: 0.6em;
}

th, tr:nth-child(even) {
    background: #232323;
}

blockquote {
    border: 1pt solid #7b7378;
    background: #131313;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.75em;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #c9d0d4;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 250%;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    padding: 0 0 0.4em;
    border-bottom: double #555;
    text-align: center;
}

h2, h3, h4, h5 {
    color: #c9d0d4;
    line-height: 1.2em;
}

h2 {
    padding-top: 2em;
    font-size: 175%;
    font-weight: 1000;
}

h3, h4, h5 {
    font-size: 133%;
    font-weight: 500;
}

ul {
    max-width: 36em;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

li {
    margin: 0;
}

a {
    color: #7171a9;
    text-decoration: none;
}

a:hover {
    color: #a9a9a9;
}

section.footnotes {
    display: none;
}

@media print {
    body, h1, a, blockquote, table, td, th, tr {
        color: black !important;
        background: white !important;
    }

    table, tr {
        border: 1pt solid black !important;
    }

    blockquote {
        border: 1pt solid black !important;
        page-break-inside: avoid;
    }

    section.footnotes {
        display: block !important;
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;
    }

    h2 {
            padding-left: 2em;
    }

    body {
        counter-reset: footnotes;
        clear: footnote;
    }

    a:after {
        counter-increment: footnotes;
        content: '[' counter(footnotes) ']';
        font-size: 0.5em;
        vertical-align: super;
    }
}
